/* Estilos generales */
/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: #FFFFFF; /* Color del texto */
  line-height: 1.6;
}

.header {
  padding: 20px;
  text-align: center;
  background-image: url('https://i.pinimg.com/originals/d1/0f/df/d10fdf2f97458cddd69369484a9046b4.jpg'); /* Imagen de fondo de camuflaje */
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo {
  font-size: 36px;
  margin: 0;
  color: #12e20a; /* Color del título */
  text-transform: uppercase;
}

.contenido {
  padding: 20px;
}

/* Estilos para secciones específicas */

.trabajo,
.proyecto,
.educacion {
  margin-bottom: 30px;
  border-left: 4px solid #01801c; /* Línea vertical lateral en tono verde oscuro */
  padding-left: 15px;
  background-color: #2f2f2f; /* Color de fondo oscuro */
}

.trabajo h3,
.proyecto h3,
.educacion h3 {
  font-size: 26px;
  margin-bottom: 10px;
  border-bottom: 2px solid #01801c; /* Línea inferior en tono naranja */
  padding-bottom: 5px;
  color: #FFFFFF; /* Color del título */
}

.trabajo p,
.proyecto p,
.educacion p {
  margin-bottom: 8px;
  color: #FFFFFF; /* Color del texto */
}

.trabajo ul,
.proyecto ul {
  margin-left: 25px;
  list-style-type: disc; /* Estilo de viñetas para listas */
}

.trabajo ul li,
.proyecto ul li {
  margin-bottom: 5px;
}

a {
  color: #01801c; /* Color de los enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
